
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

 {{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What type of RPA account would you like to access?
      </h1>
    </legend>


      <!-- Option 1 -->
<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="account-type-1" name="accountType" type="radio" value="school" data-aria-controls="conditional-single-info">
        <label class="govuk-label govuk-radios__label" for="account-type-1">
          Academy, local-authority maintained school, or pupil referral unit
        </label>
      </div>
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-single-info">
      <br>
        <h3 class="govuk-heading-s">If you need to set up an RPA account for an academy, local-authority maintained school, or pupil referral unit:</h3>
        <ul class="govuk-list govuk-list--bullet">

1. Make sure you have a DfE sign-in account
   <ul class="govuk-list govuk-list--bullet" style="margin-left: 20px;">
<li>Go to the <a href="#">DfE Sign-in page (opens in new tab) </a>and select ‘Create a DfE Sign-in account’.</li>
<li>Follow the steps in this process to create an account.</li>
</ul>
2. Add your school to your account
 <ul class="govuk-list govuk-list--bullet" style="margin-left: 20px;">
<li>Sign in to your DfE account.</li>
<li>Select ‘Request access to an organisation’.</li>
<li>Follow the steps in this process to submit your request.</li>
</ul>
3. Wait for approval
 <ul class="govuk-list govuk-list--bullet" style="margin-left: 20px;">
<li> Someone from your organisation (called an approver) will need to confirm your request.</li>
</ul>
4. Add RPA to your services
 <ul class="govuk-list govuk-list--bullet" style="margin-left: 20px;">
<li>Go to ‘Your services’ and select ‘See my approvers’.</li>
<li>Follow the steps in this process to add ‘Risk protection arrangement (RPA)’.</li>
<li>Once added, ‘Risk protection arrangement (RPA)’ will appear under ‘Your services’.Sign back in to your DfE account and select ‘Add services to my account’.</li>
</ul>
        </ul>
      </div>
</div>

      
      <!-- Option 2  -->
           <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="account-type-2" name="accountType" type="radio" value="la-mat" data-aria-controls="conditional-LA-info">
        <label class="govuk-label govuk-radios__label" for="account-type-2">
          Local authority or multi-academy trust (MAT)
        </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
          This allows you to view all the schools within your organisation. 
        </div>

      </div>

    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-LA-info">
      <br>
        <h3 class="govuk-heading-s"> If you need to set up an RPA account for a local authority or multi-academy trust:</h3>
        <ul class="govuk-list govuk-list--bullet">

  1. Create a DfE Sign-in account
   <ul class="govuk-list govuk-list--bullet" style="margin-left: 20px;">
<li>To create an account, go to the <a href="#">DfE Sign-in page (opens in new tab) </a>and select ‘Create a DfE Sign-in account’.</li>
<li>Follow the steps in this process to create an account.</li>
</ul>
2. Add your local authority or MAT
 <ul class="govuk-list govuk-list--bullet" style="margin-left: 20px;">
<li>Sign in to your DfE account and select the ‘Organisations’ tab.</li>
<li>Under the ‘Related actions’, select ‘Request access to an organisation’.</li>
<li>Search for your local authority or trust and select ‘Confirm’.</li>
</ul>
3. Wait for confirmation
 <ul class="govuk-list govuk-list--bullet" style="margin-left: 20px;">
<li> You’ll receive an email once your organisation has been added.</li>
</ul>
4. Add RPA to your services
 <ul class="govuk-list govuk-list--bullet" style="margin-left: 20px;">
<li>Sign back in to your DfE account and select ‘Add services to my account’.</li>
<li>Select ‘Risk protection arrangement (RPA) service’.</li>
</ul>
        </ul>
      </div>
</div>

<br>
 <div class="govuk-button-group">
        <a href="/selectuser" type="submit" class="govuk-button" data-module="govuk-button">
          Continue
          </a>
          </div>
         
{% endblock %}

