
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




        <h1 class="govuk-heading-xl">
            Details and declaration
          </h1>

       
{% if data['userGroup'] == 'group1' or data['userGroup'] == 'group2' %}

  <h2 class="govuk-heading-m">RPA application details</h2>

  <!-- Summary Card: Wayne Enterprises -->
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Wayne Enterprises</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Unique Reference Number</dt>
          <dd class="govuk-summary-list__value">234561</dd>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Membership for</dt>
          <dd class="govuk-summary-list__value">Academy trust</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> School type</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">RPA start date</dt>
          <dd class="govuk-summary-list__value">5 January 1926</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> start date</span></a>
          </dd>
        </div>

      </dl>
    </div>
  </div>

  <!-- Summary Card: St. Trinian's -->
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">St. Trinian's</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Unique Reference Number</dt>
          <dd class="govuk-summary-list__value">234562</dd>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Membership for</dt>
          <dd class="govuk-summary-list__value">Academy trust </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> membership rules</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">RPA start date</dt>
          <dd class="govuk-summary-list__value">5 January 1926</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> start date</span></a>
          </dd>
        </div>

      </dl>
    </div>
  </div>

    <h2 class="govuk-heading-m">Declaration</h2>



     <div class="govuk-form-group" id="declarationSingle">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <!-- legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Declaration
                    </h1>
                  </legend -->
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    I confirm that the information provided in this form is accurate to the best of my knowledge.
                  </label>
                </div>
    
              </div>
            </fieldset>
          </div>
{% endif %}



{% if data['userGroup'] == 'group3' %}
<h2 class="govuk-heading-m"> Application details</h2>
  <div class="govuk-summary-list">
    
    <div class="govuk-summary-list__row">
      <div class="govuk-summary-list__key">
        <span class="checkMulti">Schools</span>
      </div>
      <div class="govuk-summary-list__value">
        St. Trinian's
      </div>
    
    </div>

    <div class="govuk-summary-list__row">
      <div class="govuk-summary-list__key">
       Unique Reference Number
      </div>
      <div class="govuk-summary-list__value">
        234562
      </div>
    </div>

    <div class="govuk-summary-list__row">
      <div class="govuk-summary-list__key">
        Membership for
      </div>
      <div class="govuk-summary-list__value">
        Academy trust
      </div>
      <div class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change</a>
      </div>
    </div>

    <div class="govuk-summary-list__row">
      <div class="govuk-summary-list__key">
        RPA start date
      </div>
      <div class="govuk-summary-list__value">
        5 January 1926
      </div>
      <div class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change</a>
      </div>
    </div>

  </div>
    <h2 class="govuk-heading-m">Declaration</h2>

     <div class="govuk-form-group" id="declarationSingle">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <!-- legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Declaration
                    </h1>
                  </legend -->
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    I confirm that the information provided in this form is accurate to the best of my knowledge.
                  </label>
                </div>
    
              </div>
            </fieldset>
          </div>
{% endif %}

   {% if data['userGroup'] == 'group4'  or data['userGroup'] == 'group5' %}
<h2 class="govuk-heading-m"> Application details</h2>
  <div class="govuk-summary-list">
    
    <div class="govuk-summary-list__row">
      <div class="govuk-summary-list__key">
        <span class="checkMulti">School</span>
      </div>
      <div class="govuk-summary-list__value">
       St. Trinian's
      </div>
    </div>

      <div class="govuk-summary-list__row">
      <div class="govuk-summary-list__key">
       Unique Reference Number
      </div>
      <div class="govuk-summary-list__value">
        234562
      </div>
    </div>

    <div class="govuk-summary-list__row">
      <div class="govuk-summary-list__key">
        Membership for
      </div>
      <div class="govuk-summary-list__value">
        Community school
      </div>
      <div class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change</a>
      </div>
    </div>

    <div class="govuk-summary-list__row">
      <div class="govuk-summary-list__key">
        Membership start date
      </div>
      <div class="govuk-summary-list__value">
        5 January 1926
      </div>
      <div class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Change</a>
      </div>
    </div>

  </div>
    

    <div class="govuk-form-group" id="declarationMulti">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <!-- legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Declaration
                    </h1>
                  </legend -->
                  <p class="govuk-body">It's important that your local authority knows that you're joining the RPA. </p>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="event-name">
                      Enter the contact email address for your local authority insurance team so that we can send them a copy of your RPA confirmation email. 
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="event-name" name="eventName" type="text">
                  </div>
              <h2 class="govuk-heading-m">Declaration</h2>
              
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    I confirm that the information provided in this form is accurate to the best of my knowledge.
                    
                  </label>
                </div>
    
              </div>
            </fieldset>
          </div>

 
 {% endif %}



{% if data['userGroup'] == 'group1' or data['userGroup'] == 'group3' %}

<div class="govuk-inset-text">
Payment will be collected by deducting it from your General Annual Grant as detailed in the <a href="https://www.gov.uk/government/collections/academies-funding-payments-and-compliance">academies planning calendar (opens in new tab)</a>.</div>
{% endif %}

       
  {% if data['userGroup'] == 'group2' %}

              <div class="govuk-inset-text">
                 Payment will be collected by deducting it from your Dedicated Schools Grant (DSG) as detailed in the academies planning calendar 
                <a href="https://www.gov.uk/search/guidance-and-regulation?parent=/education/local-authority-schools-funding&topic=738e53f4-97df-4d9e-a2f1-8f733d526d84&order=updated-newest">local authorities planning calendar (opens in new tab)</a>.</div>

            {% endif %}


    {% if data['userGroup'] == 'group4' or data['userGroup'] == 'group5' %}

          <div class="govuk-inset-text">

                Your local authority will confirm how payment will be deducted from your funding allocation.

            </div>
            {% endif %}
        







  <div class="govuk-button-group">
    <a href="/confirmation" type="submit" class="govuk-button" data-module="govuk-button">
        Submit
      </a>

      <a href="/schools-list-not-joned" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Back
      </a>

      

  </div>
    



{% endblock %}
