
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Feedback submitted
            </h1>
            <div class="govuk-panel__body">
              Your reference number<br><strong>HDJ2123F</strong>
            </div>
          </div>
          <p class="govuk-body">Thanks for your feedback.</p>
          <p class="govuk-body">We regularly conduct research to improve our products and services. If you’d be willing to receive invitations to future relevant research studies, you can find out more and <a href="/">register your interest</a> here.</p>
          

        </div>
      </div>
    </main>
  </div>



{% endblock %}
