
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}





      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">



          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Application complete
            </h1>
            <div class="govuk-panel__body">
              Your reference number is<br><strong>XXXXXXXX</strong>
            </div>
          </div>
          <p class="govuk-body">We've sent a confirmation email to joe.blogs@example.com.</p>
      
            <div class="govuk-button-group">
              <a href="/download" type="submit" class="govuk-button" data-module="govuk-button">
                Download membership certificate 
                </a>      
                
            </div>

            <h2 class="govuk-heading-m">What happens next</h2>

<!-- MAT or Single Academy -->
    {% if data['userGroup'] == 'group1' or data['userGroup'] == 'group3' %}
            
              <p class="govuk-body">
                The Department for Education will collect the payment for RPA by deducting it from your General Annual Grant as detailed in the  
                <a href="https://www.gov.uk/government/collections/academies-funding-payments-and-compliance">academies planning calendar (opens in new tab).</a>
              </p>

          </div>
{% endif %}

<!-- LA -->

  {% if data['userGroup'] == 'group2' %}

              <p class="govuk-body">
                 The Department for Education will collect the payment for RPA by deducting it from your Dedicated Schools Grant (DSG) as detailed in the academies planning calendar 
                <a href="https://www.gov.uk/search/guidance-and-regulation?parent=/education/local-authority-schools-funding&topic=738e53f4-97df-4d9e-a2f1-8f733d526d84&order=updated-newest">local authorities planning calendar (opens in new tab)</a>.

              </p>
            </div>
            {% endif %}

<!-- LAMs or PRU -->

    {% if data['userGroup'] == 'group4' or data['userGroup'] == 'group5' %}

              <p class="govuk-body">

                Your local authority will confirm how deductions will be made from your funding allocation.

              </p>

            </div>
            {% endif %}




{% endblock %}
