
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Risk protection arrangement (RPA) certificate download
      </h1>


      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local authority
          </dt>
          <dd class="govuk-summary-list__value">
              Barnet Local Authority
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"> </a>
          </dd>
        </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          LA Code
        </dt>
        <dd class="govuk-summary-list__value">
          1234
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#"> </a>
        </dd>
      </div>
          

          <div class="govuk-summary-list__row" id="">
            <dt class="govuk-summary-list__key">
              Name

              
            </dt>
            <dd class="govuk-summary-list__value">
              Alice Cooper

            </dd>
            <dd class="govuk-summary-list__actions">
              &nbsp;
            </dd>
          </div>

          <div class="govuk-summary-list__row" id="">
            <dt class="govuk-summary-list__key">
              Email address
              
            </dt>
            <dd class="govuk-summary-list__value">
              alice@example.com
            </dd>
            <dd class="govuk-summary-list__actions">
              &nbsp;
            </dd>
          </div>
          

        </dl>


        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              School
            </label>
            <select class="govuk-select" id="sort" name="sort">
                <option value="updated">School of Rock</option>
                <option value="published">School of Hard Knocks</option>
              
              <option value="views">Greenfields School</option>
              <option value="comments">Vulcan School of Mind-Melding</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              Membership cover year
            </label>
            <select class="govuk-select" id="sort" name="sort">
                <option value="updated">2021-2022</option>
                <option value="published">2022-2023</option>
              
              <option value="views">2023-2024</option>
              <option value="comments">2024-2025</option>
            </select>
          </div>









  <div class="govuk-button-group">
    <a href="#" type="submit" class="govuk-button" data-module="govuk-button">
        Download
      </a>


      

  </div>


    



        
        
    </div>
    <div class="govuk-grid-column-one-third">
















    </div>

  </div>


  <script>


  </script>

{% endblock %}
