
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        RPA
      </h1>
      <p>Prototype</p>

      <p>

        <a href="/start">Start page</a>
        <br>
        <a href="/schools-list">Schools/academies list</a>
        <br>

        
        

        
        
      </p>
    </div>
  </div>

{% endblock %}
