
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DfE sign-in
      </h1>

      <p class="govuk-body">
        You need to have an account with the DfE sign-in service to access the form.  If you have not used DfE sign-in before, 
        you will need to <a href="#">create a DfE sign-in account</a> that is linked to your organisational setting.  

    </p>

    <h2 class="govuk-heading-m">
    Multi-academy trusts (MATs) 
  </h2>

      

  <p class="govuk-body">
          You can sign in as a trust to manage your trust RPA membership and that of your schools. 
          Signing in as a trust will enable you to access your trust level certificate and see all of the schools linked to your trust. 
          You can sign them up or download their certificates from your trust account.   
  </p>

      <!-- p class="govuk-body">
        If you're a multi-academy trust (MAT), sign in as a MAT to get your trust and individual academy certificates.   
      </p -->

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How to create a MAT account 
          </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">
              To create an account for your MAT: 
            </p>
            <ol class="govuk-list govuk-list--number">
              <li>Log in to <a href="https://services.signin.education.gov.uk/">DfE sign-in</a> </li>
              <li>Select the 'Organisations' tab  </li>
              <li>Under Related actions, select 'Request access to an organisation' </li>
              <li>Enter the name of your trust  </li>
              <li>Select your trust from the list and select Confirm  </li>
              <li>Once you've received email confirmation that this has been approved, log back in to DfE sign-in  </li>
              <li>Under Related actions, select 'Add services to my account'  </li>
              <li>Add your trust   </li>
            </ol>
        </div>
      </details>

  

  <p class="govuk-body">
    <a href="https://help.signin.education.gov.uk/contact-us">Contact us</a> if you have any questions or problems signing up. 
  </p>

  <div class="govuk-inset-text">
    Signing in as a MAT does not commit you to signing up all of your schools to RPA membership
  </div>


    <a href="/schools-list" type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </a>



        
        
    </div>
    <div class="govuk-grid-column-one-third">
















    </div>

  </div>


  <script>


  </script>

{% endblock %}
