
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        St Trinians
      </h1>

      <p class="govuk-body">
        
        3 Eggblop Road
        <br>Nibble Park
        <br>Slubton
        <br>YQ7 9TT
    </p>

      <p class="govuk-body">
        <b>URN:</b> 123456
        <br><b>Type:</b> Academy converter
    </p>

    

    <p class="govuk-body">

        <b>Contact name:</b> Karen Roberts
        <br><b>Contact email:</b> karen@example.com
    </p>













  <div class="govuk-button-group">
    <a href="schools-list-not-joned" type="submit" class="govuk-button" data-module="govuk-button">
        Join RPA
      </a>

      <a href="/schools-list" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Back
      </a>

      

  </div>


    



        
        
    </div>
    <div class="govuk-grid-column-one-third">
















    </div>

  </div>


  <script>


  </script>

{% endblock %}
