
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Join RPA
      </h1>

      <div id="selectSingle" style="display: none;">
        <p class="govuk-body-l">
          St. Trinian's  &nbsp;   234561  
        </p>
      </div>

      <div id="selectMulti">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select schools to join RPA 
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                Wayne Enterprises &nbsp; 234561
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
              <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                St. Trinian's  &nbsp;   234561 
              </label>
            </div>

          </div>
        </fieldset>
      </div>
    </div>



        

     



      
          
      

      <div class="govuk-form-group" id="membRulesSingle" style="display: block;">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select membership rules that apply
            </h1>
          </legend>
          <div id="" class="govuk-hint ">
            It's important that you select the appropriate <a href="#">membership rules (opens in new tab)</a> 
            for your setting as this will determine the cover that you receive. 
            Visit <a href="#">Get information about schools (opens in new tab)</a> to see your school type and religious character. 
            If your setting is a church academy (academy occupies property which is made available by a Diocese or other Church trustees), 
            select 'Church academy rules'. 
            
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Standard rules 
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                Church academy rules  
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group" id="membRulesLams" style="display: none;">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select membership rules that apply
            </h1>
          </legend>
          <div id="" class="govuk-hint ">

            It's important that you select the appropriate <a href="#">membership rules (opens in new tab)</a> 
            for your setting as this will determine the cover that you receive. Visit <a href="#">Get information about schools (opens in new tab)</a> 
            to see your school type.

            <br><br>
            There are 3 sets of rules available due to the complexities of property ownership and staff employment.  
            
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="BwhereDoYouLive" name="BwhereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="BwhereDoYouLive">
                Community schools, nursery schools, community special schools and pupil referral units 
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="BwhereDoYouLive-2" name="BwhereDoYouLive" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="BwhereDoYouLive-2">
                Voluntary aided, foundation and foundation special schools
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="BwhereDoYouLive-a2" name="BwhereDoYouLive" type="radio" value="scotlanad">
              <label class="govuk-label govuk-radios__label" for="BwhereDoYouLive-a2">
                Voluntary controlled schools
              </label>
            </div>

          </div>
        </fieldset>
      </div>



      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Enter start date 
            </h1>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            Cover will start from the date you enter, and payments will be deducted from your funding allocation from this date. 
            
            If you have a commercial insurance policy in place, the RPA start date must be the day after this expires to ensure that you have continuous cover.
            
          </div>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <p>&nbsp;</p>




      <div class="govuk-button-group">
        <a href="/check-multi" type="submit" class="govuk-button" data-module="govuk-button">
          Continue
          </a>
          <a href="/schools-list" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </a>
          
    
      </div>



      <hr>

      <p>Ignore everything below the line</p>

      <a href="#Single_academy" onclick="selectSingle()">Single academy</a>
      <br>
      <a href="#Multipl_academy" onclick="selectMulti()">Multiple academy</a>
      <br>
      <a href="#LAMS_PRU" onclick="selectLams()">LAMs and PRU</a>


    </div>
  </div>

<script>
  //selectSingle
  function selectSingle(){
    $("#selectSingle").css("display","block");
    $("#selectMulti").css("display","none");
    $("#membRulesSingle").css("display","block");
    $("#membRulesLams").css("display","none");
  }

  function selectMulti(){
    $("#selectSingle").css("display","none");
    $("#selectMulti").css("display","block");
    $("#membRulesSingle").css("display","block");
    $("#membRulesLams").css("display","none");
  }

  function selectLams(){
    $("#selectSingle").css("display","block");
    $("#selectMulti").css("display","none");
    $("#membRulesSingle").css("display","none");
    $("#membRulesLams").css("display","block");
  }

</script>


{% endblock %}
