
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Parent organisation name &nbsp;
            </h1>
          </legend>
          <div id="" class="govuk-hint standardHint">
            <a href="/trust-details" class="govuk-body govuk-link govuk-link--no-visited-state">
              View Parent organisation name's details and certificates
            </a>

          </div>
          <div id="" class="govuk-hint LAHint"style="display:none">
            <a href="/trust-details" class="govuk-body govuk-link govuk-link--no-visited-state">
              View Parent organisation name's details
            </a>

          </div>

        </fieldset>
      </div>




      <p class="govuk-body">
          6 schools. 2 not joined RPA. 3 joined RPA.
      </p>





      

          
          <p class="govuk-label " for="nationality5">
            <a href="/school-details"><b class="">Hogwarts School of Witchcraft and Wizardry</b></a>  &nbsp;  202928 &nbsp; 
            <strong class="govuk-tag govuk-tag--green" >
              <span id="tagRejected">In RPA</span>
            </strong> 
          </p>

          <hr style="border: 1px solid #fff; margin-bottom:10px; margin-top: 10px; ">

          <p class="govuk-label " for="nationality5">
            <a href="/school-opt-in"><b class="">Wayne Enterprises</b></a> &nbsp;  234561  &nbsp; 
            <strong class="govuk-tag govuk-tag--blue" >
              <span id="tagRejected">Not in RPA</span>
            </strong> 
          </p>

          <hr style="border: 1px solid #fff; margin-bottom:10px; margin-top: 10px; ">
  
          <p class="govuk-label " for="nationality5">
            <a href="/school-details"><b class="">Cyberdyne Systems</b></a>  &nbsp;  202928  &nbsp; 
            <strong class="govuk-tag govuk-tag--green" >
              <span id="tagRejected">In RPA</span>
            </strong>
          </p>

          <hr style="border: 1px solid #fff; margin-bottom:10px; margin-top: 10px; ">

          <p class="govuk-label " for="nationality5">
            <a href="/school-details"><b class="">Weyland Yutani</b></a> &nbsp; 462876  &nbsp; 
            <strong class="govuk-tag govuk-tag--grey" >
              <span id="tagRejected">Not eligible</span>
            </strong>
          </p>

          <hr style="border: 1px solid #fff; margin-bottom:10px; margin-top: 10px; ">

          <p class="govuk-label " for="nationality5">
            <a href="/school-opt-in"><b class="">St. Trinian's</b></a>  &nbsp; 234561 &nbsp; 
            <strong class="govuk-tag govuk-tag--blue" >
              <span id="tagRejected">Not in RPA</span>
            </strong>
          </p>

          <hr style="border: 1px solid #fff; margin-bottom:10px; margin-top: 10px; ">

          <p class="govuk-label " for="nationality5">
            <a href="/school-details"><b class="">Academy of the arts</b></a> &nbsp;  142876  &nbsp; 
            <strong class="govuk-tag govuk-tag--grey" >
              <span id="tagRejected">Not eligible</span>
            </strong>
          </p>



      

        

     

          <p>&nbsp;</p>






      <div class="govuk-button-group">
        <a href="/schools-list-not-joned" type="submit" class="govuk-button" data-module="govuk-button">
          Add schools to RPA
        </a>
        <a href="/download" type="submit" class="govuk-button govuk-button--secondary " data-module="govuk-button">
          Download school certificates
        </a>
      </div>


      <p class="govuk-body">&nbsp;</p>
    
            <hr>
            
            <p class="govuk-body">Ignore everything below here</p>
            
            <a href="#" onclick="standardHint()">Standard</a>
            <br>
            <a href="#" onclick="LAHint()">Local authority</a>
      </div>
  </div>





  <script>

    function standardHint(){
      $(".standardHint").css("display","block")
      $(".LAHint").css("display","none")


      
    }
    function LAHint(){
      $(".standardHint").css("display","none")
      $(".LAHint").css("display","block")
    }

  </script>




{% endblock %}
