
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

 {{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}


  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-xl">St Trinian's</h1>
          <h2 class="govuk-heading-m"></h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
      
                  3 Eggblop Road
                  <br>Nibble Park
                  <br>Slubton
                  <br>YQ7 9TT
              </p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                URN
              </dt>
              <dd class="govuk-summary-list__value">
                123456
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                Academy converter
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact name
              </dt>
              <dd class="govuk-summary-list__value">
                Karen Roberts
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact email
              </dt>
              <dd class="govuk-summary-list__value">
                karen@example.com
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>

          </dl>


          
          <a href="selectrules" type="submit" class="govuk-button" data-module="govuk-button">
            Join RPA
          </a>
    
          <a href="/schools-list" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Back
          </a>
        </div>
      </div>
    </main>
  </div>

  <script>


  </script>

{% endblock %}
