
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit

 
{% endblock %}

{% block content %}

 {{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Select the type of school</h1>

    <div class="govuk-hint">We need this to apply the correct membership rules and cover based on the school type. You can search for the school type on <a href="#">Get information about schools (opens in new tab). </a> </div>
 <br>
<!-- MAT -->
    {% if data['userGroup'] == 'group1' %}
   
    <h2 class="govuk-heading-m">Wayne Enterprises  </h2> 
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne-1" name="wayne" type="radio" value="church-academy">
            <label class="govuk-label govuk-radios__label" for="wayne-1">Church academy</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne-2" name="wayne" type="radio" value="standard">
            <label class="govuk-label govuk-radios__label" for="wayne-2">Academy trust</label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
            <h2 class="govuk-heading-m">St. Trinian's </h2>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="trinian-1" name="trinian" type="radio" value="church-academy">
            <label class="govuk-label govuk-radios__label" for="trinian-1">Church academy </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="trinian-2" name="trinian" type="radio" value="standard">
            <label class="govuk-label govuk-radios__label" for="trinian-2">Academy trust</label>
          </div>
        </div>
      </fieldset>
    </div>

     <div class="govuk-button-group">
        <a href="/samedate" type="submit" class="govuk-button" data-module="govuk-button">
          Continue
          </a>
         
          
    
      </div>
    {% endif %}

<!-- LA -->
{% if data['userGroup'] == 'group2' %}

        <h2 class="govuk-heading-m">Wayne Enterprises 234561</h2>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne2-1" name="wayne2" type="radio" value="community-schools">
            <label class="govuk-label govuk-radios__label" for="wayne2-1">Community schools, nursery schools, community special schools and pupil referral units</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne2-2" name="wayne2" type="radio" value="voluntary-aided">
            <label class="govuk-label govuk-radios__label" for="wayne2-2">Voluntary aided, foundation and foundation special schools</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne2-3" name="wayne2" type="radio" value="voluntary-controlled">
            <label class="govuk-label govuk-radios__label" for="wayne2-3">Voluntary controlled schools</label>
          </div>
        </div>
      </fieldset>
    </div>
        <h2 class="govuk-heading-m">St. Trinian's 234561</h2>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
         <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne2-1" name="wayne2" type="radio" value="community-schools">
            <label class="govuk-label govuk-radios__label" for="wayne2-1">Community schools, nursery schools, community special schools and pupil referral units</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne2-2" name="wayne2" type="radio" value="voluntary-aided">
            <label class="govuk-label govuk-radios__label" for="wayne2-2">Voluntary aided, foundation and foundation special schools</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne2-3" name="wayne2" type="radio" value="voluntary-controlled">
            <label class="govuk-label govuk-radios__label" for="wayne2-3">Voluntary controlled schools</label>
          </div>
        </div>
      </fieldset>
    </div>

     </div>
</div>

      <div class="govuk-button-group">
        <a href="/samedate" type="submit" class="govuk-button" data-module="govuk-button">
          Continue
          </a>
         
          
    
      </div>
    {% endif %}

    <!-- Academy -->

      {% if data['userGroup'] == 'group3' %}


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne-1" name="wayne" type="radio" value="church-academy">
            <label class="govuk-label govuk-radios__label" for="wayne-1">Church academy rules</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne-2" name="wayne" type="radio" value="standard">
            <label class="govuk-label govuk-radios__label" for="wayne-2">Standard rules</label>
          </div>
        </div>
      </fieldset>
    </div>

     </div>
</div>

      <div class="govuk-button-group">
        <a href="/selectdatesingle" type="submit" class="govuk-button" data-module="govuk-button">
          Continue
          </a>
         
          
    
      </div>
  {% endif %}

<!-- Lams or PRU -->

  {% if data['userGroup'] == 'group4' or data['userGroup'] == 'group5' %}
            <h2 class="govuk-heading-m">St. Trinian's 234561</h2>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne2-1" name="wayne2" type="radio" value="community-schools">
            <label class="govuk-label govuk-radios__label" for="wayne2-1">Community schools, nursery schools, community special schools and pupil referral units</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne2-2" name="wayne2" type="radio" value="voluntary-aided">
            <label class="govuk-label govuk-radios__label" for="wayne2-2">Voluntary aided, foundation and foundation special schools</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wayne2-3" name="wayne2" type="radio" value="voluntary-controlled">
            <label class="govuk-label govuk-radios__label" for="wayne2-3">Voluntary controlled schools</label>
          </div>
        </div>
      </fieldset>
    </div>
     </div>
</div>

      <div class="govuk-button-group">
        <a href="/selectdatesingle" type="submit" class="govuk-button" data-module="govuk-button">
          Continue
          </a>
         
          
    
      </div>
  {% endif %}
 



{% endblock %}

