
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        School Resource Management Self-Assessment Checklist (SRMSAC)
      </h1>

      <p class="govuk-body">All academy trusts that have an open academy on 31 December 2023 must submit a 2023 to 2024 checklist. </p>

        <p class="govuk-body">This checklist helps governing bodies and trust boards to ensure that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>they have appropriate financial management and governance arrangements</li>
          <li>they are meeting the standards to achieve a good level of financial health and resource management</li>
          <li>resources are used to support high quality teaching and the best education outcomes for pupils</li>
        </ul>

        <div class="govuk-inset-text" style="display: none;">
          Trustees should approve the information provided before you submit the form or review the information submitted at the next board meeting.  
        </div>

        <p class="govuk-body"  style="display: block;">
          Trustees should approve the information provided before you submit the form or review the information submitted at the next board meeting.  
        </p>

      <p class="govuk-body">Before starting the checklist, we recommend referring to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#" class="govuk-link" target="booboo">Academies Trust Handbook 2023 (opens in new tab)</a></li>
        <li><a href="#" class="govuk-link" target="booboo">2022 to 2023 checklist support notes (opens in new tab)</a></li>
        
      </ul>

      <p class="govuk-body">The checklist support notes provide a full list of the questions and details of any changes that have been made since last year. The notes also contain guidance for each question.



      <p class="govuk-body">The deadline for submission is 15 March 2024.</p>






        
        <a href="/benchmark_actions" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" id="startButton" onclick="itpDeleteFormData()">
          Start or continue
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>


        <br><br>
        <br><br>
        
      <hr>
      
      <p>
        This is a prototype used for testing. Please ignore everything below this line.
    </p>


    <p><b>Goto:</b></p>
    <p><a href="/gov-noting-changes">Long Governance</a></p>
    <p><a href="/task-list">Task list</a></p>
    <p><a href="/check-answers">Check your answers</a></p>
    <p><a href="/feedback-type">Feedback</a></p>
    <p><a href="/gov-information">Information</a></p>
    

      


        
        
    </div>

  </div>


  <script>


  </script>

{% endblock %}
