
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Risk protection arrangement
      </h1>

      <p class="govuk-body">
        If your school is classified as a public sector school, you can join the risk protection arrangement (RPA) using your DfE sign-in account. The RPA is an alternative to commercial insurance which could save time and money. Once you’ve opted in, your certificate will be sent to you by email. Deductions will be made directly from your funding allocation from the date that you join.  
      </p>

        <p class="govuk-body">You can use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>join the RPA </li>
          <li>view and download your insurance certificate if your school is already a member of the RPA </li>
        </ul>

<br><br>
        <div class="govuk-button-group">
        <a href="/benchmark_actions" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" id="startButton" onclick="itpDeleteFormData()">
          Join RPA
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>

          <a class="govuk-link" href="#">View certificate</a>

        </div>
        <br><br>
          <h2 class="govuk-heading-m">Before you start</h2>  

          <p class="govuk-body">
          We recommend referring to the gov uk <a href="#">RPA guidance</a> page to find out more about the costs and terms of the RPA and how to create a DfE Sign-in account. 
          </p>
          
          <p class="govuk-body">
          If you already have commercial insurance in place, your RPA membership must start from the date that this expires. If you have any queries about joining the scheme or opting out of it, email <a href = "mailto: RPACover@wtwco-gsp.com">RPACover@wtwco-gsp.com</a> 
        </p>
          <p class="govuk-body">
          If you're already a member, you can <a href="#">make a claim</a> here.   
        </p>
          <p class="govuk-body">
          You need to have an account with the DfE sign-in service to access the form.  If you have not used DfE sign-in before you will need to <a href="#">create a DfE sign-in account</a> that is linked to your organisational setting. 
        </p>

      










  











        
        
    </div>
    <div class="govuk-grid-column-one-third">








  
        <div class="gem-c-contextual-sidebar">
        
              <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                <h2 class="govuk-heading-m">Related content
              </h2>
        
        
        
              <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-9be86eff" data-module="gem-toggle" data-gem-toggle-module-started="true">
        
        
          <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/guidance/good-estate-management-for-schools" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Good estate management for schools&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;2&quot;,&quot;index_total&quot;:&quot;4&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="https://www.gov.uk/guidance/the-risk-protection-arrangement-rpa-for-schools#full-details-of-cover ">Full details of cover</a></li>

        </nav>
        

        

        
        
        </div>
        
        </div>













    </div>

  </div>


  <script>


  </script>

{% endblock %}
