
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Risk protection arrangement
      </h1>

      <p class="govuk-body">
        The risk protection arrangement (RPA) is an alternative to commercial insurance which could save time and money.
      </p>

        <p class="govuk-body">You can use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>join the RPA (academies, local-authority-maintained schools and pupil referral units)  </li>
          <li>sign up your schools (local authorities and multi-academy trusts)</li>
          <li>view and download your RPA certificates </li>
        </ul>

        <p class="govuk-body">
          We work with partner organisations for claims handling and risk management. As a member of the RPA you'll 
          receive access to free risk management advice and support, including seminars and interactive workshops.
          </p>
          <p class="govuk-body">

          When you join the RPA, we'll send your certificate by email. The certificate includes details of how to make a claim. 
          Deductions will be made directly from your funding from the date that you join. 
      </p>
        <br><br>
        <div class="govuk-button-group">
        <a href="/intro" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" id="startButton" onclick="itpDeleteFormData()">
          <span id="cta3" style="display: inline;">Start</span> <span id="cta1" style="display: none;">Join or log in to RPA</span> <span id="cta2" style="display: none;">Join RPA or view certificate</span>
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>

          <!-- a class="govuk-link" href="/intro">View certificate</a -->

        </div>
        <br><br>
          <h2 class="govuk-heading-m">Before you start</h2>  

          <p class="govuk-body">
            Visit the <a href="#">GOV.UK RPA guidance page</a> to find out more about the costs and terms of the RPA and how to create a DfE Sign-in account. 
          </p>
          
          <p class="govuk-body">
            You can join the RPA at any time during the year. 
            If you already have commercial insurance in place, your RPA membership must start from the date that this expires. 
            If you have any queries about joining the scheme or opting out of it, 
            email <a href = "mailto: RPACover@wtwco-gsp.com">RPACover@wtwco-gsp.com</a>. 
        </p>

        <p class="govuk-body">
          You need to have an account with the DfE sign-in service to access the form.  If you have not used DfE sign-in before, 
          you will need to <a href="#">create a DfE sign-in account</a> that is linked to your organisational setting.  
        </p>








  <p>&nbsp;</p>
<hr>

<p><a href="#" onclick="cta3(); ">Version 1</a></p>
<p><a href="#" onclick="cta1(); ">Version 2</a></p>
<p><a href="#" onclick="cta2(); ">Version 3</a></p>









        
        
    </div>
    <div class="govuk-grid-column-one-third">







      <hr style="border: solid 2px #1d70b8;">
  
        <div class="gem-c-contextual-sidebar" >
        
              <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                <h2 class="govuk-heading-m">Related content
              </h2>
        
        
        
              <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-9be86eff" data-module="gem-toggle" data-gem-toggle-module-started="true">
        
                <p>
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"   href="https://www.gov.uk/guidance/the-risk-protection-arrangement-rpa-for-schools#full-details-of-cover">Full details of RPA cover</a></li>
              <br>
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"   href="https://www.gov.uk/guidance/the-risk-protection-arrangement-rpa-for-schools#make-a-claim">How to make a claim</a></li>
              <br>
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"   href="https://get-information-schools.service.gov.uk/">Get Information about Schools</a></li>
              </p>
          

           
          
           



        </nav>
        

        

        
        
        </div>
        
        </div>













    </div>

  </div>


  <script>

    function cta1(){
      //alert("dd");
      $("#cta1").css("display", "inline");
      $("#cta2").css("display", "none");
      $("#cta3").css("display", "none");
    }

    function cta2(){
      //alert("dd");
      $("#cta2").css("display", "inline");
      $("#cta1").css("display", "none");
      $("#cta3").css("display", "none");
    }

    function cta3(){
      //alert("dd");
      $("#cta1").css("display", "none");
      $("#cta2").css("display", "none");
      $("#cta3").css("display", "inline");
    }


  </script>

{% endblock %}
