
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


 {{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
             <span class="govuk-caption-l">Greenwood Academies Trust</span>

             {% if data['userGroup'] == 'group1' %}
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="cost">
          Trust details and certificates
        </label>
      </h1>
 {% endif %}
      {% if data['userGroup'] == 'group2' %}
  <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="cost">
           Trust details
        </label>
      </h1>
       {% endif %}


          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
      
                  1 Ackbar Road
        <br>Calamri Park
        <br>Hoth
        <br>UT9 4RF
              </p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Unique Reference Number
              </dt>
              <dd class="govuk-summary-list__value">
                123456
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                School type
              </dt>
              <dd class="govuk-summary-list__value">
                Academy converter
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact name
              </dt>
              <dd class="govuk-summary-list__value">
                Karen Roberts
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact email
              </dt>
              <dd class="govuk-summary-list__value">
                karen@example.com
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Start date
              </dt>
              <dd class="govuk-summary-list__value">
                1 January 2019
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Membership rules
              </dt>
              <dd class="govuk-summary-list__value">
                Standard
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Signed up by
              </dt>
              <dd class="govuk-summary-list__value">
                Gregory Trigg
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#"></a>
              </dd>
            </div>
          </dl>
    {% if data['userGroup'] == 'group1' %}

          <h2 class="govuk-heading-m">Membership certificates</h2>

          <p class="govuk-body">
            <a href="#">2023 - 2024 (download)</a>
                  
                  <br><a href="#">2022 - 2023 (download)</a>
                  <br><a href="#">2021 - 2022 (download)</a>
                  
          </p>

          {% endif %}

        
        </div>
      </div>
    </main>
  </div>


  <script>


  </script>

{% endblock %}
